
#vultureTitle {
    color: rgb(66, 22, 22);
    font-size: 1050%;
    padding-left: .5%;
    padding-bottom: 1%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#mainDiv {
    padding-left: 1%;
}

#sortingTitle {
    display: inline-flex;
    color: rgb(66, 22, 22);
    font-size: 400%;
    margin-right: 1%;
    margin-bottom: -1%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#sortingInput {
    margin-left: 1%; 
    max-width: 650px;
    width: 25%;
}

#selectionInput {
    margin-left: 1%;
    padding: .39%;
    max-width: 600px;
    width: 20%;
}

#termInput {
    padding: .39%;
    max-width: 1000px;
    width: 50%;
}

#displaySlider {
    color: rgb(66, 22, 22);
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-bottom: 1%;
    max-width: 1000px;
}

#reviewSlider {
    position: absolute;

}

#informationDiv {
    margin-top: 10%;
    padding-left: 1%;
}

#informationDirections {
    font-size: 350%;
    margin-bottom: -2%;
}

#typeTitle {
    display: inline-flex;
    color: rgb(66, 22, 22);
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#typeInput {
    margin-left: 2%;
    max-width: 270px;
    width: 25%;
}



.inputClass {
    color: rgb(9, 4, 4);
    background-color: rgb(66, 22, 22);
    font-size: 320%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.information {
    color: rgb(66, 22, 22);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    position: relative;
    padding-left: 1%;
    width: 160%;
    max-width: 1600px;
}





html {
    touch-action: manipulation;
    min-width: auto;
}

body {
    overflow: hidden;
    background-color: rgb(20, 21, 22);
}

input[type=range] {
    color: rgb(66, 22, 22);    
    width: 37%;
    max-width: 930px;
}

p {
    font-size: 200% !important;
}



