/* STANDARD: reorganize ids, classes and different element types into new order. 
List elements of similar purpose next to eachother. 
inputForm -> termInput -> selectionInput are necessary for eachother so they go next to eachother
this gets messy if not followed, I'd rather not get lost in the sea of CSS again.
*/

body {
    
    background-color: rgb(20, 21, 22);
}

#vultureTitle {
    color: rgb(66, 22, 22);
    font-size: 1000%;
    padding-bottom: 1%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sortingTitle {
    display: inline-block;
    color: rgb(66, 22, 22);
    font-size: 400%;
    padding-bottom: 1%;
    margin-right: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 0;
}

#sortingOptions {
    margin-right: 1%;
    display: inline-block;
    align-items: center;
}

.inputClass {
    color: rgb(9, 4, 4);
    background-color: rgb(66, 22, 22);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sortingInput {
    margin-left: 1%; 
    padding: 10px;
    max-width: 800px;
    width: 643px;
}

#selectionInput {
    margin-left: 1%;
    padding: 10px;
    max-width: 800px;
    width: 500px;
}

#termInput {
    padding: 10px;
    max-width: 1000px;
    width: 920px;
}
